:root {
    --b-bg-color : #8A7E72;
    --img-bg-color: #001011;
    --font-color: #FFFFFC;
    --border-color: #FEFFFE;
}

@font-face {
    font-family: 'space_timeregular';
    src: url('fonts/spacetime-regular-webfont.woff2') format('woff2'),
         url('fonts/spacetime-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vintage_schoolregular';
    src:
        url('fonts/vintageschool-webfont.woff2') format('woff2'),
        url('fonts/vintageschool-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    background-color: var(--b-bg-color);

    display: flex;
    flex-direction: row;
    align-items: center;
}


/* image container style */

.img-container {
    padding: 0;
    margin: 0;
    background: url('img/sign-up-rafiki.svg') no-repeat center;
    background-color: var(--img-bg-color);
    /* size: 100%; */
    width: 40vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.logo-container {
    position: relative;
    top: 5vh;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > span{
    font-family: space_timeregular, serif;
    font-size: 4em;
    color: var(--font-color);
}

.logo-container img {
    width: 10vh;
}

/* form styling */
.form-container {
    background-color: var(--b-bg-color);
    color: var(--font-color);
}

.registration, .form-description {
    padding: 1.5em;
}

.section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.sub-section {
    display: flex;
    flex-flow: column wrap;
    margin-right: 4em;
    margin-bottom: 2em;
    text-transform: uppercase   ;
    font-size: 1em;
}

label {
    font-size: .7em;
    margin-bottom: .6em;
}

.required {
    color: red;
}

input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

input::placeholder {
    font-size: 1.2em;
    opacity: .3;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    border-bottom: solid var(--border-color) 1px;
    width: 35ch;
    height: 3ch;
    background:none
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus {
    appearance: none;
    /* background-color: #fff; */
    color: #001011;
    border-bottom: solid var(--font-color);
    outline: none;
    font-size: 1em;
}

.button, .login-link {
    margin: 1.5em;
}

.login-link {
    margin-bottom: 2em;
}

input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #001011;
}

input[type="email"]:focus:valid, input[type="text"]:focus:valid, input[type="password"]:focus:valid, input[type="tel"]:focus:valid {
    border-bottom: solid 1px green;
}

input[type="email"]:focus:invalid, input[type="text"]:focus:invalid, input[type="tel"]:focus:invalid, input[type="password"]:focus:invalid {
    border-bottom: solid 1px red;
}

.button {
    color: var(--font-color);
    background-color: var(--img-bg-color);
    font-size: 1em;
    font-weight: bold;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

a {
    color: var(--img-bg-color);
}

.button:hover {
    transform: scale(1.1);
    transition: ease-in-out;
}

@media  only screen and (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .img-container {
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .logo-container {
        position: relative;
        top: 0;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    .logo-container > span {
        font-size: 100%;
        flex: 1;
    }

    .logo-container > img {
        width: 5vw;
    }

    .section, .sub-section {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        justify-content: flex-start;
        align-items: flex-start;
    }

    input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
        border-bottom: solid var(--border-color) 1px;
        width: 30ch;
        height: 3ch;
        background:none
    }

    input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder {
        color: #001011;
        font-size: 1.2em;
    }

    label {
        font-size: .8em;
    }

    .form-description {
        width: 30ch;
    }

    .login-link {
        margin-bottom: 12px;
    }
}